<% flash.each do |name, msg| %>
  <% if name != 'notice' %>
    <div class='alert alert-<%="#{name}" %>'>
  <% else %>
    <div class='alert alert-success'>
  <% end %>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>